{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>Gym</title>

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container px-5">
            <a class="navbar-brand" href="{% url 'home_page' %}">Gym Management</a>
            <ul class="navbar-nav ms-auto">
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..."
                        aria-label="Search">
                </form>
                <div class="text-end">
                    <button type="button" class="btn btn-warning">Logout</button>
                </div>
            </ul>
        </div>
    </nav>

    <!-- Header-->
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container px-5">
                <h2 class="masthead-subheading mb-0">Gym Management</h2>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>

    {% block content%}{% endblock content %}

    <!-- Footer-->
    <footer class="py-5 bg-black">
        <div class="container px-5">
            <p class="m-0 text-center text-white small">Copyright &copy; Your Website {% now "Y" %}</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="{% static 'js/bootstrap-cdn.js' %}"></script>
</body>

</html>
